<footer class="page-footer red darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pomopro</h5>
        <p class="grey-text text-lighten-4">Utilize a técnica Pomodoro, e faça mais em menos tempo...</p>
      </div>
      <div class="col l2 offset-l4 s12">
        <h5 class="white-text right">Social Links</h5>
        <ul class="social-links right">
            <li>
                <a class="grey-text text-lighten-3 flat-icon" href="//www.facebook.com/pomopro" target="_blank">
                    <i class="flaticon-facebook29"></i>
                </a>
            </li>
            <li>
                <a class="grey-text text-lighten-3 flat-icon" href="#!">
                    <i class="flaticon-twitter2"></i>
                </a>
            </li>
            <li>
                <a class="grey-text text-lighten-3 flat-icon" href="//github.com/wtrindades/pomoproOnRails" target="_blank">
                    <i class="flaticon-github12"></i>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright - Wagner Trindade
    <a class="grey-text text-lighten-4 right" href="#!">wtrindades.com</a>
    </div>
  </div>
</footer>

<!-- button menu responsive -->
<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    });
</script>
<!-- /button menu responsive -->