
<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header teal lighten-4">
            <strong>Hoje</strong>
        </div>
    </li>
    <li id="pomodoros-list">
        <div class="collapsible-header">
            <i class="material-icons red-text">play_circle_outline</i>
            Pomodoro's
        </div>
        <div class="collapsible-body teal lighten-3">
          <ul class="list-pomos">
            <% @timers.each do |timer| %>
              <% if timer.is_pomo? %>
                  <li><%= timer.status %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
    </li>
    <li id="short-breaks-list">
        <div class="collapsible-header">
            <i class="material-icons blue-text">replay_5</i>
            Break's
        </div>
        <div class="collapsible-body teal lighten-3">
          <ul class="list-breaks">
            <% @timers.each do |timer| %>
              <% if timer.is_break? %>
                <li><%= timer.status %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
    </li>
    <li id="long-breaks-list">
        <div class="collapsible-header">
            <i class="material-icons teal-text">replay_30</i>
            Long Break's
        </div>
        <div class="collapsible-body teal lighten-3">
          <ul class="list-long-breaks">
            <% @timers.each do |timer| %>
              <% if timer.is_long_break? %>
                <li><%= timer.status %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
    </li>
</ul>
