
<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header teal lighten-2">
          <span class="title-timer-lists">Hoje</span>
        </div>
    </li>
    <li id="pomodoros-list">
        <div class="collapsible-header">
            <i class="material-icons red-text">play_circle_outline</i>
            Pomodoro's
            <span id="pomos-length" class="timer-lengths"></span>
        </div>
        <div class="collapsible-body red lighten-5">
          <ul class="list-pomos">
            <% @timers.each do |timer| %>
              <% if timer.is_pomo? %>
                  <li class="li-timers"><i class="flaticon-vegetable10"></i></li>
              <% end %>
            <% end %>
          </ul>
        </div>
    </li>
    <li id="short-breaks-list">
        <div class="collapsible-header">
            <i class="material-icons blue-text">replay_5</i>
            Break's
            <span id="breaks-length" class="timer-lengths"></span>
        </div>
        <div class="collapsible-body blue lighten-5">
          <ul class="list-breaks">
            <% @timers.each do |timer| %>
              <% if timer.is_break? %>
                <li class="li-timers"><i class="flaticon-hotdrink2"></i></li>
              <% end %>
            <% end %>
          </ul>
        </div>
    </li>
    <li id="long-breaks-list">
        <div class="collapsible-header">
            <i class="material-icons teal-text">replay_30</i>
            Long Break's
            <span id="long-breaks-length" class="timer-lengths"></span>
        </div>
        <div class="collapsible-body teal lighten-5">
          <ul class="list-long-breaks">
            <% @timers.each do |timer| %>
              <% if timer.is_long_break? %>
                <li class="li-timers"><i class="flaticon-coffee124"></i></li>
              <% end %>
            <% end %>
          </ul>
        </div>
    </li>
</ul>
