<% if @timer.status == "pomo" %>
    $(".list-pomos").append("<li class='li-timers'><i class='flaticon-vegetable10 yellow-color'></i></li>");
    spawnNotification("Pomodoro Concluido!", "//i.imgur.com/ipvoUt1.png");
<% elsif @timer.status == "break" %>
    $(".list-breaks").append("<li class='li-timers'><i class='flaticon-hotdrink2 yellow-color'></i></li>");
    spawnNotification("Break Concluido!", "//i.imgur.com/T5sjlRw.png");
<% else %>
    $(".list-long-breaks").append("<li class='li-timers'><i class='flaticon-coffee124 yellow-color'></i></li>");
    spawnNotification("Long Break Concluido!", "//i.imgur.com/YDRoUTN.png");
<% end %>

setTimeout(function(){ 
    $(".li-timers i").removeClass("yellow-color"); 
}, 15000);
